
.icon-help:before { content: '\e804'; } /* '' */
.icon-help-circled:before { content: '\e803'; } /* '' */
.icon-lamp:before { content: '\e801'; } /* '' */
.icon-lightbulb:before { content: '\e802'; } /* '' */
.icon-lightbulb-1:before { content: '\e800'; } /* '' */